@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
         url('./fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
         url('./fonts/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
  width: 100%;
  }

.header__logo {
  width: 190px;
  margin: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('../images/football_desktop.jpg') no-repeat 50% 50% #0a0e34;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 1020px;
    z-index: 5;
  }

  .header__head {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
    max-width: 1540px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold', sans-serif;
  }

  @media (min-width: 961px) and (max-width: 1920px) {
    .header__head {
      font-size: calc((100vw + 60rem)/30);
    }
  }

  @media (min-width: 1921px) {
    .header__head {
    font-size: 90px;
    }
  }

  .header__head_line2 {
    padding-left: 20%;
  }

  .header__apps {
    display: flex;
    justify-content: center;
  }

  .header__apps_box {
    width: 20%;
    box-sizing: border-box;
    background-color: #5e42b0;
    border-radius: 40px;
    padding: 1em 2em;
  }

  .header__apps_a {
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header__apps_section {
    display: inline-block;
    padding-left: 1em;
  }

  .header__apps_box:first-child {
    margin-right: 2%;
  }

  .header__apps_box:last-child {
    margin-left: 2%;
  }

  .header__apps_apple_icon, .header__apps_google_icon {
    display: inline-block;
    width: 52px;
    height: 50px;
    fill: #ffffff;
  }

  .header__apps_line2 {
    display: block;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: bold;
  }

  .header__apps_line1 {
      display: block;
    font-family: 'OpenSans-Regular', sans-serif;
  }

  /* ATHLETES */

  .athlets {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: 970px;
  }

   .athlets__head, .athlets__content {
    padding-left: 52%;
    padding-right: 10%;
  }

  .athlets__head {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .athlets__connection_title,
  .athlets__collaboration_title,
  .athlets__growth_title {
    position: relative;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #c1c1c1;
    padding-left: 25px;
  }

  .athlets__connection_title:before {
    content:"01";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets__connection_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .athlets__collaboration_title:before {
    content:"02";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets__collaboration_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .athlets__growth_title:before {
    content:"03";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets__growth_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #ffffff;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }
  .athlets__connection_body,
  .athlets__collaboration_body,
  .athlets__growth_body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 20px;
  }

  .athlets__collaboration {
    background-color: #f6f4fa;
  }

  .athlets__growth {
    background-color: #5e42b0;
    position: relative;
    z-index: 3;
  }

  .athlets__growth_body p {
    color: #ffffff;
  }

  .athlete {
    max-width: 100%;
    position: absolute;
    top: -10px;
    left: 10%;
    z-index: 4;
  }

  /* PLAYERS */
  .players {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: 900px;
  }

  .players__head, .players__content {
    padding-left: 10%;
    padding-right: 52%;
}

  .players__head {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .players__connection_title,
  .players__collaboration_title,
  .players__growth_title {
    position: relative;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #c1c1c1;
    padding-left: 25px;
  }

  .players__connection_title:before {
    content:"01";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .players__connection_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .players__collaboration_title:before {
    content:"02";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .players__collaboration_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .players__growth_title:before {
    content:"03";
    font-size: 18px;
    color: #9173e6;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .players__growth_title:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #ffffff;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }
  .players__connection_body,
  .players__collaboration_body,
  .players__growth_body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 20px;
  }

  .players__collaboration {
    background-color: #f5f6f7;
  }

  .players__growth {
    background-color: #0a0e34;
  }

  .players__growth_body p {
    color: #ffffff;
  }

  .player {
    position: absolute;
    top: -3%;
    left: 32%;
  }


  /* APPEAL SECTION */

  .appeal {
    display: flex;
    flex-wrap: wrap;
  }

@media (min-width: 961px){
  .appeal__info, .appeal__imgbox {
    width: 50%;
    }

    .appeal__info {
      padding-left: 10%;
      box-sizing: border-box;
    }

    .appeal__info_title {
      font-family: 'OpenSans-Bold', sans-serif;
      font-size: 70px;
      color: #e7e7e7;
      text-transform: uppercase;
    }

    .appeal__info_text {
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 24px;
      padding-right: 40%;
    }

    .appeal__number {
      position: absolute;
      width: 170px;
      height: 155px;
      color: #ffffff;
      font-family: 'OpenSans-Bold', sans-serif;
      font-size: 24px;
      text-align: center;
      padding-top: 40px;
      box-sizing: border-box;
      background-color: #5e42b0;
    }

    .appeal__number.one, .appeal__number.three {
      top: 30%;
      left: -85px;
    }

    .appeal__number.two {
      top: 30%;
      right: -85px;
    }

    .appeal__number p {
      position: relative;
    }

    .appeal__number p:before {
      display: block;
      content: "";
      width: 24px;
      position: absolute;
      border-bottom: 5px solid #8f7bc8;
      top: 33px;
      left: 73px;
      border-radius: 5px;
    }
  }

  .appeal__info {
    position: relative;
  }

  .appeal_image {
    max-width: 100%;
  }

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('../images/football_field_desktop.jpg') no-repeat 50% 50% #0a0e34;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 1020px;
  }

  .footer__logo {
    width: 190px;
    margin: auto;
    }

  .footer__apps {
    display: flex;
    justify-content: center;
  }

  .footer__apps_box {
    width: 20%;
    box-sizing: border-box;
    background-color: #5e42b0;
    border-radius: 40px;
    padding: 1em 2em;
  }

  .footer__apps_a {
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .footer__apps_section {
    display: inline-block;
    padding-left: 1em;
  }

  .footer__apps_box:first-child {
    margin-right: 2%;
  }

  .footer__apps_box:last-child {
    margin-left: 2%;
  }

  .footer__apps_apple_icon, .footer__apps_google_icon {
    display: inline-block;
    width: 52px;
    height: 50px;
    fill: #ffffff;
  }

  .footer__apps_line2 {
    display: block;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: bold;
  }

  .footer__apps_line1 {
      display: block;
    font-family: 'OpenSans-Regular', sans-serif;
  }
