
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
         url('./fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
         url('./fonts/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  }

.header__logo {
  margin-left: auto;
  margin-right: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0a0e34;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
  }

  .header__head {
    display: flex;
    flex-direction: column;
    max-width: 1540px;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold', sans-serif;
    margin: auto 0;
  }

  .header__head_line1 {
    padding-left: 8%;
    box-sizing: border-box;
  }

  .header__head_line2 {
    padding-left: 24%;
    box-sizing: border-box;
  }

  .header__apps,
  .footer__apps {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header__apps_box,
  .footer__apps_box {
	background-color: #5e42b0;
    border-radius: 40px;
  	display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header__apps_google_icon,
  .header__apps_apple_icon,
  .footer__apps_apple_icon,
  .footer__apps_google_icon {
	  display: block;
    fill: #ffffff;
	margin-top: auto;
	margin-bottom: auto;
 	}

	.header__apps_section,
	.footer__apps_section {
	  margin-left: 1em;
	  margin-top: auto;
	  margin-bottom: auto;
	}

	.header__apps_line2,
	.footer__apps_line2 {
    	display: block;
    	font-family: 'OpenSans-Bold', sans-serif;
    	font-weight: bold;
  }

  .header__apps_line1,
  .footer__apps_line1 {
      display: block;
    font-family: 'OpenSans-Regular', sans-serif;
  }

  /* /////ШИРИНА БОЛЬШЕ 1920 //// */
  @media (min-width: 1921px) {
    .header__head {
    font-size: 90px;
    }
  }

  /* ////ИНТЕРВАЛ от 961 до 1920 ///// */
  @media (min-width: 961px) and (max-width: 1920px) {
    .header__head {
      font-size: calc((100vw + 60rem)/30);
    }
  }

  /* //////ШИРИНА от 961 ////// */
  @media (min-width: 961px) {
    .header {
        background-image: url('../images/football_desktop.jpg');
        height: 50vw;
    }

    .header__apps_box:first-child,
	.footer__apps_box:first-child {
      margin-right: 50px;
    }

    .header__apps {
      margin-bottom: 5.5%;
    }

    .header__apps_box,
	.footer__apps_box {
      width: 310px;
      height: 77px;
    }

    .header__apps_apple_icon,
	.header__apps_google_icon,
	.footer__apps_apple_icon,
    .footer__apps_google_icon {
      width: 52px;
      height: 50px;
    }

	.header__logo {
      width: 190px;
      margin-top: 2%;
    }
  }

  /* /////ИНТЕРВАЛ от 641 до 960 //// */

  @media (min-width: 641px) and (max-width: 960px) {
    .header {
      background-image: url('../images/football_768.jpg');
      height: 125vw;
    }

    .header__logo {
      width: 204px;
      margin-top: 4%;
    }

    .header__apps_box:first-child,
	.footer__apps_box:first-child {
      margin-right: 4%;
    }

    .header__apps {
      margin-bottom: 12%;
    }

    .header__apps_apple_icon,
	.header__apps_google_icon,
	.footer__apps_apple_icon,
    .footer__apps_google_icon  {
      width: 45px;
      height: 45px;
    }

 }

  /* /////ШИРИНА от 641 ///// */
  @media (min-width: 641px) {

	 .header__apps_box,
	.footer__apps_box {
	  width: 310px;
      height: 77px;
      font-size: 14px;
    }
}

  /* /////ИНТЕРВАЛ ОТ 320 до 640///// */
    @media (min-width: 320px) and (max-width: 640px) {

      .header {
          background-image: url('../images/football_320.jpg');
          height: 177vw;
      }

      .header__logo {
        width: 133px;
        margin-top: 10%;
      }

      .header__apps,
	  .footer__apps {
        flex-direction: column;
        margin-bottom: 26%;
      }

      .header__apps_box,
	  .footer__apps_box {
        width: calc(9vw + 252px);
       	font-size: calc(2vw + 1.6px);
        margin: 1em auto;
      }

      .header__apps_box:first-child,
	  .footer__apps_box:first-child {
        margin-bottom: 14px;
      }

      .header__apps_apple_icon,
	  .header__apps_google_icon,
	  .footer__apps_apple_icon,
      .footer__apps_google_icon  {
        width: 23px;
        height: 23px;
	  }
	}

  /* /////ИНТЕРВАЛ ОТ 320 до 960///// */
  @media (min-width: 320px) and (max-width: 960px) {
    .header__head {
      font-size: calc(5.6vw + 10px);
    }
  }

  /* ATHLETS, PLAYERS */

  .athlets, .players {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .athlets__container,
  .players__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 @media (min-width: 961px) {
	 .athlets > h2,
	 .players > h2 {
	   font-size: 80px;
	 }
}

	h2  {
 		font-family: 'OpenSans-Bold', sans-serif;
 		text-transform: uppercase;
 		color: #e7e7e7;
	}

   h3 {
    position: relative;
    font-family: 'OpenSans-Bold', sans-serif;
    text-transform: uppercase;
    color: #c1c1c1;
  }

  .athlets__container > h3 {
    padding-left: 25px;
  }

  .athlets__container:nth-child(2) {
    background-color: #f6f4fa;
  }

  .athlets__container:nth-child(3) {
    background-color: #5e42b0;
    z-index: 3;
  }

  .athlets__container:nth-child(3) p,
  .players__container:nth-child(3) p {
  color: #ffffff;
  }

    .athlets div:nth-child(1) h3:before {
    content:"01";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets div:nth-child(1) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .athlets div:nth-child(2) h3:before {
    content:"02";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets div:nth-child(2) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  .athlets div:nth-child(3) h3:before {
    content:"03";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: -1px;
  }

  .athlets div:nth-child(3) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #ffffff;
    top: 25px;
    left: -1px;
    border-radius: 5px;
  }

  @media (min-width: 769px) and (max-width: 1920px) {
  .athlets__container p,
  .players__container p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: calc(100vw * 0.0041 + 12px);
    }

  h3 {
    font-size: calc(100vw * 0.0041 + 28px);
    margin-bottom: 0;
    }

  .athlets__container > div,
  .athlets__container > h3,
  .athlets h2  {
    margin-left: auto;
    width: calc(100vw * 0.45 + 48px);
    padding-right: calc(100vw * 0.17 - 120.4px);
    box-sizing: border-box;
    }

    .athlets__container > h2 {
      margin-top: calc(100vw * 0.032 + 54.3px);
      margin-bottom: calc(100vw * 0.03 + 1px);
    }

  .athlets__container p {
    margin-top: 28px;
    }

    .athlets__container:first-child p {
      margin-bottom: calc(100vw * 0.02 + 21px);
    }

    .athlets__container:nth-child(3) h3 {
      margin-top: calc(100vw * 0.05 - 6px);
    }

    .athlets__container:nth-child(3) p {
      margin-bottom: calc(100vw * 0.04 + 23px);
    }

    .athlets__container:nth-child(3) > div {
      position: relative;
    }
}

  @media (min-width: 769px) and (max-width: 1920px) {
  .athlets__imgbox {
    position: absolute;
    height: calc(100vw * 0.26 + 452px);
    z-index: 4;
    bottom: 20px;
    right: 700px;
  }
}
    .athlete {
    max-height: 100%;
  }

  /* PLAYERS */
  .players__container:nth-child(3) {
    background-color: #0a0e34;
  }

    .players__container:nth-child(2) {
      background-color: #f5f6f7;
  }

  .players div:nth-child(1) h3:before {
    content:"01";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: calc(100vw * 0.3 - 256px);
  }

  .players div:nth-child(1) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: calc(100vw * 0.3 - 256px);
    border-radius: 5px;
  }

  .players div:nth-child(2) h3:before {
    content:"02";
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: calc(100vw * 0.3 - 256px);
  }

  .players div:nth-child(2) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #5e42b0;
    top: 25px;
    left: calc(100vw * 0.3 - 256px);
    border-radius: 5px;
  }

  .players div:nth-child(3) h3:before {
    content:"03";
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: calc(100vw * 0.3 - 256px);
  }

  .players div:nth-child(3) h3:after {
    display: block;
    content: "";
    width: 20px;
    position: absolute;
    border-bottom: 5px solid #9173e6;
    top: 25px;
    left: calc(100vw * 0.3 - 256px);
    border-radius: 5px;
  }

  @media (min-width: 769px) and (max-width: 1920px)  {
    .players__container > div,
    .players__container > h3,
    .players h2 {
      margin-right: auto;
      width: calc(100vw * 0.48);
      box-sizing: border-box;
    }

    .players__container > div,
    .players h2 {
      padding-left: calc(100vw * 0.3 - 256px);
  }

    .players__container > h3 {
      padding-left: calc(100vw * 0.3 - 231px);
    }

    .players__container p {
      margin-top: 30px;
    }

    .players__container > h2 {
        margin-top: 114px;
        margin-bottom: calc(100vw * 0.03 + 32px);
    }

      .players__container:nth-child(3) p {
        margin-bottom: calc(100vw * 0.04 + 11px);
    }

    .players__container > h2 {
      margin-top: 114px;
      margin-bottom: calc(100vw * 0.03);
    }

      .players__container:nth-child(3) h3 {
        margin-top: calc(100vw * 0.04 + 15px);
    }

      .players__container:first-child p {
        margin-bottom: calc(100vw * 0.025 + 21px);
    }

    .players__container:nth-child(2) p {
      margin-bottom: 70px;
    }

    .players__container:nth-child(2) h3 {
      margin-top: 62px;
    }
  }

  @media (min-width: 769px) and (max-width: 1920px) {
  .players__imgbox {
    position: absolute;
    height: calc(100vw * 0.27 + 385px);
    top: -30px;
    left: 500px;
  }
}
    .player {
    max-height: 100%;
  }

    /* APPEAL SECTION */

  .appeal {
    display: flex;
    flex-wrap: wrap;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
  }

   .appeal_image {
	max-width: 100%;
	max-height: 730px;
  }

  .appeal__info {
	  position: relative;
	  box-sizing: border-box;
  }

  .appeal__info_text {
	font-family: 'OpenSans-Regular', sans-serif;
	}

	.appeal__number {
      position: absolute;
    color: #ffffff;
      font-family: 'OpenSans-Bold', sans-serif;
     text-align: center;
      background-color: #5e42b0;
    }

	.appeal__number p {
      position: relative;
	  margin: 0;
    }

	.appeal__number p:before {
      display: block;
      content: "";
     position: absolute;
      border-bottom: 5px solid #8f7bc8;
        border-radius: 5px;
    }

	/* ////ШИРИНА ОТ 1920 ///// */
@media (min-width: 1921px) {
		.appeal__info_title {
			font-size: 80px;
	  	  line-height: 90px;
		}

		.appeal__info_text {
			font-size: 24px;
  	  		line-height: 28px;
  		}
}
		/* ////ШИРИНА ОТ 961 ///// */
@media (min-width: 961px){
  .appeal__info, .appeal__imgbox {
    width: 50%;
    }

    .appeal__info {
		padding-top: 13.5%;
    }

	.appeal__info:nth-child(2),
	.appeal__info:nth-child(6) {
		padding-left: 6.5%;
	}

	.appeal__info:nth-child(3) {
		padding-left: 9.5%;
	}

    .appeal__info_title {
      font-size: calc(50vw * 0.083);
	  line-height: 90px;
       margin-top: 0;
	  margin-bottom: 11%;
   }

    .appeal__info_text {
      font-size: calc(50vw * 0.025);
  }

    .appeal__number {
      width: calc(5.4vw + 63px);
      height: calc(4.1vw + 76px);
      line-height: calc(4.1vw + 76px);
 }

    .appeal__number.one, .appeal__number.three {
      top: 30%;
      left: -5vw;
    }

    .appeal__number.two {
      top: 30%;
      right: -5vw;
    }

    .appeal__number p:before {
     top: calc(50% + 16px);
      left: calc(50% - 12px);
     }
  }

/* ////ШИРИНА ОТ 641 ///// */
@media (min-width: 641px) {
	.appeal__number {
		 font-size: 24px;
	}

	.appeal__number p:before {
		 width: 24px;
	}
}

/* ////ШИРИНА ОТ 641 ДО 960///// */

@media (min-width: 641px) and (max-width: 960px) {
	.appeal__info_title {
		font-size: 80px;
		line-height: 60px;
		margin-top: 0;
		margin-bottom: 32px;
	}

	.appeal__info_text {
		font-size: 24px;
		line-height: 28px;
	}

	.appeal__info {
		padding: 11% 11% 4%;
		}

		.appeal__number {
	      width: 115px;
	      height: 115px;
	      line-height: 115px;
		  top: -85px;
		  left: calc(4% + 57px);
	 }

	 .appeal__number p:before {
		 top: 72px;
		 left: 45px;
	 }
}

  	/* ////ШИРИНА ОТ 320 ДО 960///// */
@media (min-width: 320px) and (max-width: 960px) {
	.appeal__info, .appeal__imgbox {
      width: 100%;
      }

	.appeal__info_text br {
		display: none;
	}

		.appeal__info:nth-child(3) {
			order: 1;
		}
		.appeal__imgbox:nth-child(5) {
			order: 2;
		}
		.appeal__info:nth-child(6) {
			order: 3;
		}
}
	/* /////ШИРИНА ОТ 320 ДО 640//// */
@media (min-width: 320px) and (max-width: 640px) {
	.appeal__info_title {
		font-size: 28px;
		line-height: 34px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.appeal__info_text {
		font-size: 16px;
		line-height: 20px;
	}

	.appeal__info {
		padding: 11% 9% 20%;
		}

		.appeal__info:nth-child(2) {
				padding-right: 22%;
		}

	.appeal__number {
		font-size: 14px;
	  width: 70px;
	  height: 70px;
	  line-height: 70px;
	  top: -57px;
	  left: 5%;
 }

  .appeal__number p:before {
	 width: 16px;
	 top: 45px;
	 left: 27px;
 }
}

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #0a0e34;
    color: #ffffff;
    width: 100%;
    margin-top: -4px;
  }

  .footer {
    display: flex;
    text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	flex-shrink: 0;
  }

  .footer__title_logo {
    box-sizing: border-box;
    background-color: #5e42b0;
    padding: 1em 0.5em;
  }

  .footer__head {
	  display: flex;
	  flex-direction: column;
    	max-width: 706px;
    	box-sizing: border-box;
  }

  .footer_title {
    font-family: 'OpenSans-Bold', sans-serif;
    color: #ffffff;
  }

  .footer_slogan {
    font-family: 'OpenSans-Regular', sans-serif;
    color: #a496ca;
  }

  .footer__logo {
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: auto;
  }

  .footer__apps {
	  flex-shrink: 0;
  }
		/* /////ШИРИНА ОТ 1921//// */
@media (min-width: 1921px) {
	    }

		/* /////ШИРИНА ОТ 961 до 1920//// */
@media (min-width: 961px) and (max-width: 1920px) {

		}
		/* ///ШИРИНА ОТ 961 /// */
@media (min-width: 961px) {
    footer {
      background: url('../images/football_field_desktop.jpg') no-repeat 50% 50% #0a0e34;
      background-size: cover;
      height: 50vw;
    }

    .footer {
		flex-direction: row;
		justify-content: center;
     	margin-top: 12%;
	 }

    .footer__title_logo {
		margin-right: 35px;
	}

	.footer__head {
		align-items: flex-start;
	}

    .footer_slogan {
      font-size: 30px;
    }

    .footer__logo {
      width: 190px;
	  margin-bottom: 2.6%;
      }
  }

	/* ////ШИРИНА ОТ 641 ДО 960//// */
 @media (min-width: 641px) and (max-width: 960px) {
	 footer {
	   background: url('../images/football_field_768.jpg') no-repeat 50% 50% #0a0e34;
	   background-size: cover;
	   height: 124vw;
	 }

	 .footer {
 		flex-direction: column;
 		justify-content: center;
      	margin-top: 16%;
 	 }

	 .footer__title_logo {
		margin-left: auto;
	 	margin-right: auto;
 		margin-bottom: 10.4%;
 	}

	 .footer__logo {
       width: 206px;
 		margin-bottom: 2.6%;
   }
}

@media (min-width: 768px) {
	.footer_title {
      font-size: 80px;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
	.footer_slogan {
	  font-size: 36px;
	}
}
 		/* * ////ШИРИНА ОТ 641 //// */
 @media (min-width: 641px) {

	 .footer__title_icon {
       width: 104px;
       height: 90px;
     }

	 .footer__title_logo {
		 font-size: 24px;
		 width: 130px;
	     height: 136px;
		 border-radius: 40px;
	 }
 }

@media (min-width: 320px) and (max-width: 767px) {
	.footer_title {
      font-size: 10vw;
    }

	.footer_slogan {
	  font-size: 4.5vw;
	}
}
 		/* ////ШИРИНА ОТ 320 ДО 640//// */
@media (min-width: 320px) and (max-width: 640px) {
	footer {
   		background: url('../images/football_field_320.jpg') no-repeat 50% 50% #0a0e34;
   		background-size: cover;
   		height: 178vw;
 	}

	.footer {
	   flex-direction: column;
	   justify-content: center;
	   margin-top: 30.6%;
	}

	.footer__title_logo {
		margin-left: auto;
		margin-right: auto;
	   margin-bottom: 18%;
   }

	.footer__title_icon {
      width: 58px;
      height: 50px;
    }

	.footer__title_logo {
		font-size: 12px;
		width: 71px;
		height: 74px;
		border-radius: 16px;
	}

	.footer_slogan {
      font-size: 14x;
    }

	.footer__logo {
      width: 134px;
	  margin-bottom: 2%;
      }
}

			/* ////ШИРИНА ОТ 320 ДО 960//// */
 @media (min-width: 320px) and (max-width: 960px) {
	 .footer__head {
 		align-items: center;
 	}
 }
