
	@font-face {
    	font-family: 'OpenSans-Regular';
    	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         	url('../fonts/OpenSans-Regular.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
 	}

	@font-face {
    	font-family: 'OpenSans-Bold';
    	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         	url('../fonts/OpenSans-Bold.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
  }

	body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		margin: 0;
	}

 	h1 {
		text-indent: -9999px;
	}

  .header__head,
  h2,
  h3,
  .footer_title,
  .header__apps_line2,
  .footer__apps_line2 {
  		text-transform: uppercase;
  		font-family: 'OpenSans-Bold', sans-serif;
  		font-weight: bold;
	}

	p,
	.header__apps_line1,
	.footer__apps_line1,
	.footer_slogan {
	 	font-family: 'OpenSans-Regular', sans-serif;
  }

  .header__logo {
  	margin-left: auto;
  	margin-right: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0a0e34;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
  }

  .header__head {
    display: flex;
    flex-direction: column;
  }

  .header__apps,
  .footer__apps {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .header__apps_box,
  .footer__apps_box {
	background-color: #5e42b0;
    border-radius: 40px;
  	display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header__apps_google_icon,
  .header__apps_apple_icon,
  .footer__apps_apple_icon,
  .footer__apps_google_icon {
	  display: block;
    fill: #ffffff;
	margin-top: auto;
	margin-bottom: auto;
 	}

	.header__apps_section,
	.footer__apps_section {
	  margin-left: 1em;
	  margin-top: auto;
	  margin-bottom: auto;
	}

	.header__apps_line2,
	.footer__apps_line2,
	.header__apps_line1,
	.footer__apps_line1 {
    	display: block;
}

 /* /////ИНТЕРВАЛ ОТ 641 ДО 1920 //// */
 @media (min-width: 641px) and (max-width: 1920px) {
	 .header__head {
         margin-right: 9.8%;
		 margin-left: 9.8%;
		 margin-top: auto;


     }
 }
   /* /////ШИРИНА БОЛЬШЕ 1920 //// */
  @media (min-width: 1921px) {
    .header__head {
    font-size: 90px;
	margin: auto;
    }
  }

  /* ////ИНТЕРВАЛ от 961 до 1920 ///// */
  @media (min-width: 961px) and (max-width: 1920px) {
    .header__head {
      font-size: calc((100vw + 60rem)/30);
	  margin-bottom: 10%;
    }
  }

  /* //////ШИРИНА от 961 ////// */
  @media (min-width: 961px) {
    .header {
        background-image: url('../images/football_desktop.jpg');
        height: 50vw;
    }

    .header__apps_box:first-child,
	.footer__apps_box:first-child {
      margin-right: 50px;
    }

    .header__apps {
      margin-bottom: 5.5%;
    }

    .header__apps_box,
	.footer__apps_box {
      width: 310px;
      height: 77px;
    }

    .header__apps_apple_icon,
	.header__apps_google_icon,
	.footer__apps_apple_icon,
    .footer__apps_google_icon {
      width: 52px;
      height: 50px;
    }

	.header__logo {
      width: 190px;
      margin-top: 2%;
    }
  }

  /* /////ИНТЕРВАЛ от 641 до 960 //// */

  @media (min-width: 641px) and (max-width: 960px) {
    .header {
      background-image: url('../images/football_768.jpg');
      height: 125vw;
    }

	.header__head {
		margin-bottom: 40%;
	}

    .header__logo {
      width: 204px;
      margin-top: 4%;
    }

    .header__apps_box:first-child,
	.footer__apps_box:first-child {
      margin-right: 4%;
    }

    .header__apps {
      margin-bottom: 12%;
    }

    .header__apps_apple_icon,
	.header__apps_google_icon,
	.footer__apps_apple_icon,
    .footer__apps_google_icon  {
      width: 45px;
      height: 45px;
    }
 }

  /* /////ШИРИНА от 641 ///// */
  @media (min-width: 641px) {

	 .header__apps_box,
	.footer__apps_box {
	  width: 310px;
      height: 77px;
      font-size: 14px;
    }

	.header__head_line2 {
     padding-left: 23vw;
 	}
}

  /* /////ИНТЕРВАЛ ОТ 320 до 640///// */
    @media (min-width: 320px) and (max-width: 640px) {

      .header {
          background-image: url('../images/football_320.jpg');
          height: 177vw;
      }

	  .header__head {
	  	margin: 15.5% 5.6% 26.5%;
	  }

	  .header__head_line2 {
       padding-left: 14vw;
	   padding-top: 1em;
   	}

      .header__logo {
        width: 133px;
        margin-top: 10%;
      }

      .header__apps,
	  .footer__apps {
        flex-direction: column;
        margin-bottom: 26%;
      }

      .header__apps_box,
	  .footer__apps_box {
        width: calc(9vw + 252px);
		height: 34px;
       	font-size: calc(2vw + 1.6px);
     }

      .header__apps_box:first-child,
	  .footer__apps_box:first-child {
        margin-bottom: 14px;
      }

      .header__apps_apple_icon,
	  .header__apps_google_icon,
	  .footer__apps_apple_icon,
      .footer__apps_google_icon  {
        width: 23px;
        height: 23px;
	  }
	}

  /* /////ИНТЕРВАЛ ОТ 320 до 960///// */
  @media (min-width: 320px) and (max-width: 960px) {
    .header__head {
      font-size: calc(5.6vw + 10px);
    }
  }

  /* ATHLETS, PLAYERS */

  .athlets, .players {
	  display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	overflow: hidden;
  }

  .athlets__header,
  .players__header {
	  color: #e7e7e7;
 }

	.athlets__container_title,
 	.players__container_title {
	 	position: relative;
     	color: #c1c1c1;
	 	padding-left: 25px;
	  	margin-bottom: 0;
  }

  .athlets__container:nth-child(4) p,
  .players__container:nth-child(4) p {
  		color: #ffffff;
  }

  .players__container_title:before,
  .athlets__container_title:before {
	  content:"";
      color: #000000;
      position: absolute;
	  font-family: 'OpenSans-Bold', sans-serif;
	  font-weight: bold;
      top: -5px;
      left: -1px;
  }

  .players__container_title.connection:before,
  .athlets__container_title.connection:before {
	  content:"01";
  }

  .players__container_title.collaboration:before,
  .athlets__container_title.collaboration:before {
	  content:"02";
  }

  .players__container_title.growth:before,
  .athlets__container_title.growth:before {
	  content:"03";
  }

  .players__container_title.growth:before {
	  color: #9173e6;
  }

  .players__container_title:after,
  .athlets__container_title:after {
	  display: block;
      content: "";
      position: absolute;
      border-bottom: 5px solid #5e42b0;
      top: 23px;
      left: -1px;
      border-radius: 5px;
  }

  .players__container_title.growth:after,
  .athlets__container_title.growth:after {
	  border-bottom: 5px solid #ffffff;
  }

  .athlete {
    height: 100%;
  }

  .player {
    height: 100%;
  }

  .athlets__container_info p,
  .players__container_info p {
	  letter-spacing: 1px;
  }

  /* ////ШИРИНА БОЛЬШЕ 961//// */
@media (min-width: 961px) {
   .athlets__header,
   .players__header {
		font-size: 80px;
		margin-top: 4.6vw;
		margin-bottom: 2vw;
   }

	.athlets__container_info,
	.players__container_info {
		font-size: 20px;
		line-height: 28px;
		margin-top: 24px;
   }

   .athlets__container_title,
   .players__container_title {
	   font-size: 36px;
	   line-height: 34px;
   }

   .athlets__header,
   .athlets__container_title,
   .athlets__container_info {
	   margin-left: 52.5%;
	   margin-right: 2%;
   }

   .players__header,
   .players__container_info,
   .players__container_title {
	   margin-left: 16.5%;
   }

   .athlets__container_info.connection {
	   margin-bottom: 2.8%;
   }

   .athlets__container_info.collaboration {
	   margin-bottom: 3.3%;
  }

   .athlets__container_info.growth {
	   margin-bottom: 5%;
 }

   .players__container_info.collaboration,
   .players__container_info.connection   {
	   margin-bottom: 4.5%;
	   padding-right: 30%;
   }

   .players__container_info.growth   {
	   margin-bottom: 4%;
   }

	.athlets__container_title.growth {
		margin-top: 4.3%;
	}

	.athlets__container_title.collaboration {
		margin-top: 3%;
	}

   .players__container_title.growth {
	 	margin-top: 4.5%;
 	}
	.players__container_title.collaboration {
   		margin-top: 3%;
 	}

	.players__container_title:before,
    .athlets__container_title:before {
  	    top: -5px;
        left: -1px;
    }

	.athlets__imgbox {
		position: absolute;
		height: 98%;
		top: -20px;
		left: calc(35% - 347px);
	}

	.players__imgbox {
      position: absolute;
	  height: 86%;
	  top: -35px;
	  right: calc(32% - 500px);
    }
 }

/* ////ШИРИНА МЕНЬШЕ 640 /// */
@media (max-width: 960px) {
	.players__container_info.connection span {
		display: none;
	}
}


/* ////ШИРИНА БОЛЬШЕ 641//// */
@media (min-width: 641px) {
	.players__container_title:before,
    .athlets__container_title:before {
		font-size: 18px;
	}

	.athlets__container:nth-child(2),
	.players__container:nth-child(2) {
		background-color: #ffffff;
	}

	.athlets__container:nth-child(3) {
      background-color: #f6f4fa;
    }

    .athlets__container:nth-child(4) {
      background-color: #5e42b0;
      z-index: 3;
    }

    .players__container:nth-child(4) {
      background-color: #0a0e34;
    }

      .players__container:nth-child(3) {
        background-color: #f5f6f7;
    }

	.players__container_title:after,
    .athlets__container_title:after {
		width: 20px;
	}

	.athlets__imgbox {
		z-index: 4;
	}
}

/* ////////////////ШИРИНА ДО 1230 ///// */
@media (max-width: 1400px) {
	.athlets__container_info br,
	.players__container_info br {
		display: none;
	}
}
/* ////ИНТЕРВАЛ ОТ 641 ДО 960 //// */
@media (min-width: 641px) and (max-width: 960px) {
	.athlets__header,
    .players__header {
		font-size: 80px;
		line-height: 60px;
		margin-top: 10.4%;
		margin-bottom: 3%;
	}

	.athlets__container_title,
	.players__container_title {
		font-size: 32px;
	}

	.athlets__container_info.connection span {
		display: none;
	}

	.athlets__container_info,
    .players__container_info {
 	   font-size: 16px;
 	   line-height: 28px;
	}

	.athlets__container_info {
		margin-top: 1.5rem;
	}

	.players__container_info {
		margin-top: 1rem;
	}

	.athlets__header,
    .athlets__container_info,
    .athlets__container_title {
 	   margin-left: 37.5%;
	   margin-right: 4%;
    }

    .players__header {
 	   margin-left: 3.6%;
	   margin-right: 42%;
    }

	.players__container_info,
	.players__container_title {
		margin-left: 4%;
 	   	margin-right: 42%;
	}

	.players__container_title.collaboration {
		margin-top: 1.8em;
	}

	.players__container_title.growth {
		margin-top: 1.6em;
	}

	.athlets__container_info.connection,
	.players__container_info.collaboration {
		margin-bottom: 4rem;
	}

	.athlets__container_info.growth {
		margin-bottom: 3.8rem;
	}

	.athlets__container_info.collaboration {
		margin-bottom: 2.2rem;
	}

	.players__container_info.connection {
		margin-bottom: 2.5rem;
	}

	.players__container_info.growth {
		margin-bottom: 2.8rem;
	}

	.players__container_title:before,
	.athlets__container_title:before {
		top: 2px;
		left: -1px;
	}

	.athlets__imgbox {
		position: absolute;
		height: 88.6%;
		top: 11.6%;
		right: 56vw;
	}

	.players__imgbox {
	  position: absolute;
	  height: 71.5%;
	  top: 4%;
	  right: -32vw;
	}
}

/* ///ИНТЕРВАЛ ОТ 320 ДО 640 //// */
@media (min-width: 320px) and (max-width: 640px) {
    .athlets__container_title,
	.athlets__container_info,
	.players__container_title,
	.players__container_info {
		margin-left: 6%;
 	  	margin-right: 6%;
	}

	.athlets__header,
    .players__header {
		position: relative;
		font-size: 50px;
		line-height: 60px;
		height: 95vw;
		padding: 6% 6% 0 6%;
		box-sizing: border-box;
		margin: 0;
	}

	.athlets__container_title,
	.players__container_title {
		font-size: 28px;
		line-height: 34px;
	}

	.athlets__container_info,
    .players__container_info {
 	   font-size: 15px;
 	   line-height: 18px;
	   margin-top: 1.2rem;
	   margin-bottom: 3rem;
 	}

	.athlets__container_info.growth {
		margin-bottom: 2.25rem;
	}

	.players__container_title:before,
    .athlets__container_title:before {
		font-size: 14px;
	}

	.players__container_title:after,
	.athlets__container_title:after {
		width: 18px;
	}

	.athlets__container:nth-child(2),
	.players__container:nth-child(2) {
		background-color: #fafafa;
	}

	.athlets__container:nth-child(3),
	  .players__container:nth-child(3) {
      background-color: #f5f4f3;
    }

    .athlets__container:nth-child(4) {
		 background-color: #5e42b0;
	}

	.players__container:nth-child(4) {
      background-color: #090c35;
     }

	 .athlets__imgbox,
	 .players__imgbox {
		 display: none;
	 }

	 .athlets__header:before {
 		position: absolute;
 		content: "";
 		width: 100vw;
 		height: 88vw;
 		background: url('../images/athlete_desktop.png') no-repeat 50% 50%;
		background-size: contain;
 		top: 25vw;
 		left: 10px;
 	}

 	.players__header:before {
 		position: absolute;
 		content: "";
 		width: 100vw;
		height: 78vw;
 		background: url('../images/player_desktop.png') no-repeat 50% 50%;
		background-size: contain;
		top: 26vw;
 		left: -10px;
	}

	.athlets__container_title.connection,
	.players__container_title.connection {
		margin-top: 2.8em;
	}

	.athlets__container_title.collaboration,
	.players__container_title.collaboration,
	.athlets__container_title.growth,
	.players__container_title.growth  {
		margin-top: 1.8em;
	}

	.athlets__container_info.collaboration p {
		padding-right: 0.75em;
	}

	.athlets__container_info p,
    .players__container_info p {
  	  letter-spacing: 1px;
    }
}

    /* APPEAL SECTION */

  .appeal {
    display: flex;
    flex-wrap: wrap;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
  }

   .appeal_image {
	   width: 100%;
		height: 100%;
  }

  .appeal__info {
	  position: relative;
	  box-sizing: border-box;
  }

  .appeal__info_title {
	  color: #c1c1c1;
  }

	.appeal__info_text {
		letter-spacing: 1px;
	}

  	.appeal__number {
      position: absolute;
    color: #ffffff;
      font-family: 'OpenSans-Bold', sans-serif;
     text-align: center;
      background-color: #5e42b0;
    }

	.appeal__number span {
      position: relative;
	  margin: 0;
    }

	.appeal__number span:before {
      display: block;
      content: "";
     position: absolute;
      border-bottom: 5px solid #8f7bc8;
        border-radius: 5px;
    }

	/* ////ШИРИНА ОТ 1920 ///// */
@media (min-width: 1921px) {
		.appeal__info_title {
			font-size: 80px;
	  	  line-height: 90px;
		}

		.appeal__info_text {
			font-size: 24px;
  	  		line-height: 28px;
  		}
}

@media (min-width: 961px) and (max-width: 1920px) {
	.appeal__info_title {
		font-size: calc(50vw * 0.083);
		line-height: 90px;
	}
}
@media (min-width: 1281px) and (max-width: 1920px) {
	.appeal__info_text {
		font-size: calc(50vw * 0.025);
		line-height: 28px;
	}
}

@media (min-width: 961px) and (max-width: 1280px) {
	.appeal__info_text {
		font-size: 16px;
		line-height: 28px;
	}
}
		/* ////ШИРИНА ОТ 961 ///// */
@media (min-width: 961px){
  .appeal__info, .appeal__imgbox {
    width: 50%;
    }

    .appeal__info {
		padding-top: 13%;
    }

	.appeal__info:nth-child(2),
	.appeal__info:nth-child(6) {
		padding-left: 6.5%;
	}

	.appeal__info:nth-child(3) {
		padding-left: 9.5%;
	}

    .appeal__info_title {
       margin-top: 0;
	}

	.appeal__info:nth-child(2) .appeal__info_title {
		 margin-bottom: 12%;
	}

	.appeal__info:nth-child(3) .appeal__info_title {
		 margin-bottom: 7%;
	}

	.appeal__info:nth-child(6) .appeal__info_title {
		 margin-bottom: 11%;
	}

    .appeal__number {
      width: calc(5.4vw + 63px);
      height: calc(4.1vw + 76px);
      line-height: calc(4.1vw + 76px);
 }

    .appeal__number.left {
      top: 30%;
      right: 45vw;
    }

    .appeal__number.right {
      top: 30%;
      left: 45vw;
    }

    .appeal__number span:before {
     top: calc(50% + 16px);
      left: calc(50% - 12px);
     }
  }


/* ////ШИРИНА ОТ 641 ///// */
@media (min-width: 641px) {
	.appeal__number {
		 font-size: 24px;
	}

	.appeal__number span:before {
		 width: 24px;
	}
}

/* ////ШИРИНА ОТ 641 ДО 960///// */

@media (min-width: 641px) and (max-width: 960px) {
	.appeal__info_title {
		font-size: 80px;
		line-height: 60px;
		margin-top: 11.7vw;
		margin-bottom: 32px;
	}

		.appeal__info:not(:nth-child(2)) .appeal__info_title {
			margin-top: 1em;
		}

	.appeal__info_text {
		font-size: 24px;
		line-height: 28px;
	}

	.appeal__info {
		padding-left: 4%;
		padding-right: 13%;
		}

		.appeal__info:not(:last-child) {
				padding-bottom: 10%;
		}

		.appeal__info:last-child {
				padding-bottom: 12%;
		}

		.appeal__number {
	      width: 115px;
	      height: 115px;
	      line-height: 109px;
		  top: -80px;
		  left: 4%;
	 }

	 .appeal__number span:before {
		 top: 72px;
		 left: 48px;
	 }
}

  	/* ////ШИРИНА ОТ 320 ДО 960///// */
@media (min-width: 320px) and (max-width: 960px) {
	.appeal__info, .appeal__imgbox {
      width: 100%;
      }

	  .appeal__info_text br {
  		display: none;
  	}

	.appeal__info:nth-child(3) {
		order: 1;
		}
	.appeal__imgbox:nth-child(5) {
		order: 2;
		}
	.appeal__info:nth-child(6) {
		order: 3;
		}
}
	/* /////ШИРИНА ОТ 320 ДО 640//// */
@media (min-width: 320px) and (max-width: 640px) {
	.appeal__info_title {
		font-size: 28px;
		line-height: 34px;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.appeal__info_text {
		font-size: 16px;
		line-height: 20px;
	}

	.appeal__info {
		padding: 8% 7% 18% 6%;
	}

		.appeal__info:nth-child(2) {
			padding-right: 20%;
		}

	.appeal__number {
		font-size: 14px;
	  	width: 70px;
	  	height: 70px;
	  	line-height: 67px;
	  	top: -60px;
	  	left: 6%;
 }

  .appeal__number span:before {
	 width: 16px;
	 top: 45px;
	 left: 27px;
 }
}

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #0a0e34;
    color: #ffffff;
	width: 100%;
    margin-top: -4px;
  }

  .footer {
    display: flex;
    text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
 }

  .footer__title_logo {
    box-sizing: border-box;
    background-color: #5e42b0;
    padding: 1em 0.5em;
  }

  .footer__head {
	  display: flex;
	  flex-direction: column;
    	max-width: 706px;
    	box-sizing: border-box;
  }

  .footer_slogan {
    color: #a496ca;
  }

  .footer__logo {
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: auto;
  }


		/* ///ШИРИНА ОТ 961 /// */
@media (min-width: 961px) {
    footer {
      background: url('../images/football_field_desktop.jpg') no-repeat 50% 50% #0a0e34;
      background-size: cover;
      height: 50vw;
    }

    .footer {
		flex-direction: row;
		margin-top: 12%;
		margin-bottom: 8%;
	 }

	.footer__title_logo {
		margin-right: 35px;
	}

	.footer_slogan {
      	font-size: 30px;
    }

    .footer__logo {
      width: 190px;
	  margin-bottom: 3%;
      }
  }

	/* ////ШИРИНА ОТ 641 ДО 960//// */
 @media (min-width: 641px) and (max-width: 960px) {
	 footer {
	   background: url('../images/football_field_768.jpg') no-repeat 50% 50% #0a0e34;
	   background-size: cover;
	   height: 124vw;
	 }

	 .footer {
 		flex-direction: column;
 		justify-content: center;
      	margin-top: 16%;
		margin-bottom: 36%;
 	 }

	 .footer__title_logo {
		margin-left: auto;
	 	margin-right: auto;
 		margin-bottom: 10.4%;
 	}

	 .footer__logo {
       width: 206px;
 		margin-bottom: 2.6%;
   }
}

@media (min-width: 768px) {
	.footer_title {
      font-size: 80px;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
	.footer_slogan {
	  font-size: 36px;
	}
}
 		/* * ////ШИРИНА ОТ 641 //// */
 @media (min-width: 641px) {

	 .footer__title_icon {
       width: 104px;
       height: 90px;
     }

	 .footer__title_logo {
		 font-size: 24px;
		 width: 130px;
	     height: 136px;
		 border-radius: 40px;
	 }

	 .footer_title {
 		letter-spacing: 3px;
 	}
 }

@media (min-width: 320px) and (max-width: 767px) {
	.footer_title {
      font-size: 10vw;
    }

	.footer_slogan {
	  font-size: 4.5vw;
	}
}
 		/* ////ШИРИНА ОТ 320 ДО 640//// */
@media (min-width: 320px) and (max-width: 640px) {
	footer {
   		background: url('../images/football_field_320.jpg') no-repeat 50% 50% #0a0e34;
   		background-size: cover;
   		height: 178vw;
 	}

	.footer {
	   flex-direction: column;
	   justify-content: center;
	   margin-top: 30.6%;
	   margin-bottom: 24%;
	}

	.footer_title {
  	 letter-spacing: 2px;
   }

	.footer__title_logo {
		margin-left: auto;
		margin-right: auto;
	   margin-bottom: 18%;
   }

	.footer__title_icon {
      width: 58px;
      height: 50px;
    }

	.footer__title_logo {
		font-size: 12px;
		width: 71px;
		height: 74px;
		border-radius: 16px;
	}

	.footer_slogan {
      font-size: 14px;
    }

	.footer__logo {
      width: 134px;
	  margin-bottom: 2%;
      }
}

			/* ////ШИРИНА ОТ 320 ДО 960//// */
 @media (min-width: 320px) and (max-width: 960px) {
	 .footer__head {
 	 	align-items: center;
 	}
 }

/* //////PIXEL PERFECT//// */
 .original_desktop {
   	position: absolute;
   	top: 0;
   	left: 50%;
   	margin-left: -50%;
	opacity: 0.5;
}

.original_768 {
  	position: absolute;
  	top: 0;
  	left: 50%;
  	margin-left: -50%;
  	opacity: 0.5;
}

.original_320 {
  	position: absolute;
  	top: 0;
  	left: 50%;
  	margin-left: -50%;
  	opacity: 0.5;
}
